.widget .title h6 { float: right; font-size: 12px; font-weight: bold; padding: 9px 12px 8px;}
.aimgdown { background-image:url("/backend/images/backgrounds/arrows.png"); background-repeat: no-repeat; display:block; height:10px; width:12px; float:right; -ms-transform: rotate(90deg);-moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);rotation: 90deg; filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
.aimgup { background-image:url("/backend/images/backgrounds/arrows.png"); display:block; height:10px; width:12px; float:right; background-position: 0 bottom;	}
#listAuthors_chzn{float:left;}
#listCategories_chzn {float: left;}
.liLeft {float: left; width: 70%; padding: 5px;}
.liRight{float: right;}
.buttonLi{padding: 5px; line-height: 0;}
.placeholder { background-color: white; border:1px dashed #c5c5c5; margin:5px; height: 25px;}
.degreeItem {padding: 3px;border: solid 1px lime;}
#sortable-categories li{ cursor: pointer; margin: 0 0 4px; padding: 3px;}
#sortable-author li{ cursor: pointer; margin: 0 0 4px; padding: 0px; height: 37px;}

#sortable-categories .ui-state-default a { color: #555555; margin-top: 0px; text-decoration: none;}
#sortable-author .ui-state-default a { color: #555555; margin-top: 3px; text-decoration: none;}
#sortable-categories {margin-top:5px;}
#sortable-categories li {height:28px;}
.dd3-handle {height: 34px;}
#sortable-author {margin-top:5px;}
#sortable-author li {height:34px;}
div.checker span { vertical-align: top !important;}
.qq-upload-list{ display:none;}

/*******************************************************************************************************/

#sortable { float: left; list-style-type: none; margin: 0; padding: 0 0 1em; width: 100%;}
#sortable li { cursor: pointer; margin: 0 0 4px; padding: 3px;}
.itemDescription { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 72%; float:left;}